
<div class="container"><h2>Create Client</h2>

<a routerLink="/clients" routerLinkActive="active" class="btn btn-secondary"><- Client list</a>

<form #createClientForm="ngForm" (ngSubmit)="onFormSubmit()" >
<div class="form-group">
<label for="nameInput">Name</label>
<input type="text" class="form-control" id="nameInput"
required
[(ngModel)]="model.name" name="name">
</div>
<div class="form-group">
<label for="idNumber">Identification numner</label>
<input class="form-control" id="idNumber" type="text"
required
[(ngModel)]="model.identificationNumber" name="name">
</div>
<button type="submit" class="btn btn-success" [disabled]="!createClientForm.form.valid">Submit</button>
</form>
</div>
