
<div class="container"><h2>Create Waybill</h2>

<a routerLink="/clients" routerLinkActive="active" class="btn btn-secondary"><- Clients</a>
<a routerLink="/create-user" routerLinkActive="active" class="btn btn-warning"><- CreateUser</a>

<form #createClientForm="ngForm" (ngSubmit)="onFormSubmit()" >
<div class="form-group">
<label for="trucksPlate">Placas</label>
<input type="text" class="form-control" id="trucksPlate"
required
[(ngModel)]="model.trucksPlate" name="trucksPlate">
</div>
<div class="form-group">
<label for="waybillNumber">Numero Guia</label>
<input type="text" class="form-control" id="waybillNumber"
required
[(ngModel)]="model.waybillNumber" name="waybillNumber">
</div>
<div class="form-group">
<label for="warehouse">Bodega</label>
<input type="text" class="form-control" id="warehouse"
required
[(ngModel)]="model.warehouse" name="warehouse">
</div>
<div class="form-group">
<label for="productTypeId">TipoProducto</label>
<select class="form-control" id="productTypeId"
required
[(ngModel)]="model.productTypeId" name="productTypeId">
<option  *ngFor='let cl of productTypes' [value]="cl.id">{{ cl.name }}</option>
</select>
</div>
<div class="form-group">
<label for="price">Precio</label>
<input type="text" class="form-control" id="price"
required
[(ngModel)]="model.price" name="price">
</div>
<div class="form-group">
<label for="productQuantity">Cantidad</label>
<input type="text" class="form-control" id="productQuantity"
required
[(ngModel)]="model.productQuantity" name="productQuantity">
</div>

<button type="submit" class="btn btn-success" [disabled]="!createClientForm.form.valid">Submit</button>
</form>
</div>
